<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-uppercase ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <app-logo></app-logo>
      <form [formGroup]="form" (keyup.enter)="iniciarSesion()">
        <ion-item class="ion-margin" lines="none">
          <ion-input type="text" label="Email" labelPlacement="floating" autocomplete="true"
            [formControl]="form.controls.email" placeholder="usuarioX"></ion-input>
        </ion-item>
        <ion-item class="ion-margin" lines="none">
          <ion-input [type]="type" label="Password" labelPlacement="floating" [formControl]="form.controls.password"
            placeholder="password"></ion-input>


          <ion-button (click)="type =='password' ? type = 'text' : type = 'password'" fill="clear">
            <ion-icon slot="icon-only" [name]=" type =='password' ? 'eye-off-outline' : 'eye-outline'"></ion-icon>

          </ion-button>

        </ion-item>
      </form>

      <ion-item button (click)="resetPasswd()">
        <ion-label color="primary">Recuperar contraseña</ion-label>
      </ion-item>

      <ion-button [disabled]="this.form.invalid" class="ion-margin-end" (click)="iniciarSesion()" expand="block">
        Iniciar Sesión
      </ion-button>
      <ion-button href="sign-up" expand="block" fill="clear" shape="round">
        Registrarse
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="validate()">
    <ion-card-content>
      <ion-item *ngIf="form.controls.email.errors && form.controls.email.touched" lines="none">
        <ion-text *ngIf="form.controls.email.errors?.['required'] || form.controls.email.errors?.['email']" color="danger">
          Introduzca un email valido.
        </ion-text>
      </ion-item>
      <ion-item *ngIf="form.controls.password.errors && form.controls.password.touched" lines="none">
        <ion-text *ngIf="form.controls.password.errors?.['required']" color="danger">
          Introduzca una contraseña.
        </ion-text>
        <ion-text *ngIf="form.controls.password.errors?.['pattern']" color="danger">
          Introduzca una contraseña con mayúscula, minúscula, número y 8 de longitud como mínimo.
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>