<ion-modal id="example-modal" #modal trigger="nuevo-horario">
  <ng-template>
    <ion-card class="fill">
      <ion-card-header class="ion-text-capitalize ion-text-center">
        <ion-toolbar [color]="primaryColor">
            <h1>Nuevo Horario</h1>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="ion-margin">
              <ion-card>
                <ion-card-header>
                  <ion-card-title  class="ion-text-center">Nombre</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                 <ion-input type="text" placeholder="NuevoHorario"></ion-input>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-margin">
              <ion-card>
                <ion-card-header>
                  <ion-card-title  class="ion-text-center">Dias a mostrar</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-select placeholder="Lunes a Domingo">
                    <ion-select-option value="apple">Lunes a Viernes</ion-select-option>
                    <ion-select-option value="banana">Lunes a Domingo</ion-select-option>
                  </ion-select>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-margin">
              <ion-button (click)="addHorario()" [color]="primaryColor" expand="block" shape="round">
                Crear horario
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>