<ion-card class="fill">
  <ion-card-header class="ion-text-capitalize ion-text-center">
    <ion-toolbar [color]="primaryColor">
      <h1>Nueva Tarea</h1>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Nombre</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-input type="text" placeholder="Hacer tarea de algo"></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Descripción</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Descripción detallada de la tarea."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <ion-list>
            <ion-item>
              <ion-select (ionChange)="option($event)" aria-label="Icono" interface="action-sheet"
                placeholder="Select icon">
                <ion-select-option value="at-circle">Arroba</ion-select-option>
                <ion-select-option value="balloon">Globo</ion-select-option>
                <ion-select-option value="basketball">Pelota</ion-select-option>
                <ion-select-option value="bandage">Tirita</ion-select-option>
                <ion-select-option value="earth">Planeta tierra</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="auto">
          <ion-item>
            <ion-icon slot="start" aria-hidden="true" [name]="icono"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin">
          <ion-button (click)="addTarea()" [color]="primaryColor" expand="block" shape="round">
            Crear tarea
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>