<ion-header [translucent]="true">
  <ion-toolbar [color]='primaryColor'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase ion-text-center">{{ horario }}</ion-title>
  </ion-toolbar>
</ion-header>
<div id="fabsycabezera">
  <!-- color picker -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="primary" (click)="changeColor('primary')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="changeColor('success')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="changeColor('danger')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- herramientas -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [color]='primaryColor' (click)="abrirHerramientas()">
      <ion-icon name="briefcase"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- boton nuevo horario -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [color]='primaryColor' id="nuevo-horario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- cabezera tabla -->
  <ion-grid>
    <ion-row>
      <ion-col size="1.5">
        <ion-item>
          <ion-label class="ion-text-center">HORAS</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="1.5" *ngFor="let dia of diasSemana">
        <ion-item>
          <ion-label class="ion-text-capitalize ion-text-center">{{dia}}</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="1.5">
        <ion-item>
          <ion-label class="ion-text-center">0000</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="1.5" *ngFor="let dia of diasSemana">
        <ion-item class="ion-justify-content-center" *ngIf="false">
          <ion-label>{{dia}}</ion-label>
        </ion-item>
        <!-- añadir tarea -->
        <ion-button (click)="abrirTarea()" id="nueva-tarea" [color]='primaryColor' expand="block" fill="clear">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- boton nueva franja horaria -->
        <ion-button id="nueva-hora" expand="block" [color]='primaryColor'>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- nuevo horario -->
  <app-horario [primaryColor]="primaryColor" [addHorario]="addHorario"></app-horario>

  <!-- nueva franja horaria -->
  <app-horas [primaryColor]="primaryColor" [addRow]="addRow"></app-horas>


</ion-content>