<!-- ///////////////////////cabezera/////////////////////// -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" class="ion-text-capitalize ion-text-center">
      <ion-button *ngIf="editar" fill="clear" (click)="editarTitulo()">
        <ion-icon slot="icon-only" name="checkmark-circle" color="success"></ion-icon>
      </ion-button>
      <ion-title>
        <ion-label *ngIf="!editar">
          {{horarioActual.title}}
          <ion-icon slot="start" name="create-outline" (click)="quiereEditar()"></ion-icon>
        </ion-label>
        <ion-input autofocus="true" *ngIf="editar" [formControl]="form.controls.title" type="text"
          [placeholder]="horarioActual.title"></ion-input>
      </ion-title>
      <ion-button *ngIf="editar" fill="clear" (click)="quiereEditar()">
        <ion-icon slot="icon-only" name="close-circle" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" scrollX="true" class="ion-padding">
  <!-- ///////////////////////cabezera tabla/////////////////////// -->
  <ion-header class="superglue">
    <ion-item lines="none" class="max-content" [color]="primaryColor">
      <ion-grid>
        <ion-row>
          <ion-col class="horas" [size]="colSize">
            <ion-item lines="none" [color]="primaryColor">
              <ion-label class="ion-text-center">HORAS</ion-label>
            </ion-item>
          </ion-col>
          <ion-col [size]="colSize " *ngFor="let dia of diasSemana">
            <ion-item lines="none" class="border-left" [color]="primaryColor">
              <ion-label class="ion-text-capitalize ion-text-center">{{dia}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-header>
  <!-- ////////////////////////////FABs//////////////////////////// -->
  <!-- color picker -->
  <ion-fab class="ion-margin-top" vertical="top" horizontal="end" [edge]="true" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="primary" (click)="changeColor('primary')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="changeColor('success')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="changeColor('danger')">
        <ion-icon name="color-fill"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- herramientas -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [color]='primaryColor' (click)="abrirHerramientas()">
      <ion-icon name="briefcase"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- boton nuevo horario -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewHorario()" id="nuevo-horario" [color]='primaryColor'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- /////////////////////////////////////cuerpo///////////////////////////////////// -->
  <ion-item class="max-content ion-margin-top">
    <ion-grid>
      <ion-row class="ion-align-items-center" *ngFor="let horas of franjasHorarias; let row = index">
        <ion-col class="horas" [size]="colSize">
          <ion-item lines="none" class="ion-text-center">
            <ion-label class="ion-text-wrap">{{horas.horainicio}}<br>{{horas.horafin}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-justify-content-center ion-align-items-center cell" [size]="colSize"
          *ngFor="let dia of diasSemana; let col = index">
          <!-- boton añadir tarea -->
          <ion-card *ngIf="!getTarea(row,col)" class="ion-no-margin ion-no-padding">
            <ion-card-content class="ion-no-margin ion-no-padding full-card">
              <ion-button class="full-button" (click)="addNewTarea(horas.uid, dia)" id="nueva-tarea" color='dark'
                expand="block" fill="outline">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
          <!-- tareas -->
          <ion-card *ngIf="getTarea(row,col)" class="ion-no-margin ion-no-padding">
            <ion-card-content class="ion-no-margin ion-no-padding full-card">
              <ion-button class="full-button ion-no-padding"
                [color]="getTarea(row,col)['active']? markedColor : primaryColor"
                (click)="abrirEnlace(getTarea(row,col)['enlace'])" expand="block" fill="outline">
                <ion-list>
                  <ion-item lines="none" class="ion-no-margin">
                    <ion-label class="ion-text-capitalize ion-text-wrap">
                      {{getTarea(row,col)['title']}}
                      <ion-icon slot="end" [color]="getTarea(row,col)['active']? markedColor : primaryColor" class="tarea-icon"
                        [name]="getTarea(row,col)['icono']"></ion-icon>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none" class="ion-wrap">
                    <ion-note class="ion-text-wrap">{{getTarea(row,col)['description']}}</ion-note>
                  </ion-item>
                </ion-list>
              </ion-button>
              <ion-fab class="i-fab-move" vertical="top" horizontal="end">
                <ion-fab-button size="small" (click)="borrarTarea(horas.uid,getTarea(row,col)['uid'])">
                  <ion-icon name="close-circle" color="dark"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="0.1">
          <ion-button (click)="borrarHoras(horas.uid)" fill="clear">
            <ion-icon slot="icon-only" name="close-circle" [color]="(primaryColor=='danger')? 'primary' : 'danger'"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11.5">
          <!-- boton nueva franja horaria -->
          <ion-button (click)="addNewHora()" id="nueva-hora" expand="block" [color]='primaryColor'>
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>