<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>

      <!-- Horarios -->

      <ion-toolbar>
        <ion-item>
          <ion-label class="ion-text-uppercase ion-text-center">Horarios</ion-label>
        </ion-item>
      </ion-toolbar>
      <ion-row class="ion-align-items-center" *ngFor="let h of horarios; let i = index">
        <ion-col size="9">
          <ion-list id="horarios-list" class="transparent-background">
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[h.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-label>{{ h.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-col>
        <ion-col size="3">
          <ion-toggle (click)="activarHorario()"></ion-toggle>
        </ion-col>
      </ion-row>

      <!-- Grupos -->
      <ion-toolbar>
        <ion-item>
          <ion-label class="ion-text-uppercase ion-text-center">Grupos</ion-label>
        </ion-item>
      </ion-toolbar>
      <ion-row class="ion-align-items-center" *ngFor="let g of grupos; let i = index">
        <ion-col size="9">
          <ion-list id="horarios-list" class="transparent-background">
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[g.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-label>{{ g.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-col>
        <ion-col size="3">
          <ion-toggle (click)="activarGroupo()"></ion-toggle>
        </ion-col>
      </ion-row>

      <!-- Cuentas -->
      

    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-item>
          <ion-label class="ion-text-uppercase ion-text-center">Cuentas</ion-label>
        </ion-item>
      </ion-toolbar>
      <ion-button (click)="cerrarSesion()" expand="block" color="danger">
        Cerrar sesion
      </ion-button>
      
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>