<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <app-logo></app-logo>
      <form [formGroup]="form" (keyup.enter)="recuperarPasswd()">
        <ion-item class="ion-margin" lines="none">
          <ion-input type="text" label="Email" labelPlacement="floating" autocomplete="true"
            [formControl]="form.controls.email" placeholder="usuarioX"></ion-input>
        </ion-item>
      </form>

      <ion-button [disabled]="this.form.invalid" class="ion-margin-end" (click)="recuperarPasswd()" fill="clear" expand="block">
        Enviar email de recuperación
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>