<ion-header>
  <ion-toolbar class="ion-padding ion-text-center" color="light">
    <ion-button (click)="dismiss()" slot="start" fill="clear" color="dark">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Nuevo Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="fill">
    <ion-card-content>
      <form [formGroup]="form" (keyup.enter)="addGrupo()">

        <ion-item>
          <ion-input [formControl]="form.controls.title" label="Nombre" labelPlacement="floating" type="text"
            placeholder="NuevoGrupo"></ion-input>
        </ion-item>

      </form>

      <ion-item *ngIf="form.controls.title.errors && form.controls.title.touched" lines="none" color="danger">
        <ion-text *ngIf="form.controls.title.errors?.['required']">
          Tiene que tener un titulo.
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button (click)="addGrupo()" color="light" expand="block" shape="round">
    Crear grupo
  </ion-button>
</ion-footer>