/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-thumbnail {
   margin: auto;
}

.fill {
   height: 90%
}

@media (min-width:10px) {
   .modal-height {
      --height: 95%;
      --width: 90%;
   }
}

@media (min-width:720px) {
   .modal-height {
      --height: 95%;
      --width: 50%;
   }
}


@media (max-width:2000px) {
   ion-app {
      zoom: calc(2000 / 2000);
   }

   .max-content {
      width: 100%;
      height: max-content;
   }
}

@media (max-width:1700px) {
   ion-app {
      zoom: calc(1700 / 2000);
   }

   .max-content {
      width: 120%;
      height: max-content;
   }
}

@media (max-width:1300px) {
   ion-app {
      zoom: calc(1300 / 1700);
   }

   .max-content {
      width: 140%;
      height: max-content;
   }
}

@media (max-width:1000px) {
   ion-app {
      zoom: calc(1000 / 1300);
   }

   .max-content {
      width: 175%;
      height: max-content;
   }
}

@media (max-width:750px) {
   ion-app {
      zoom: calc(750 / 1000);
   }

   .max-content {
      width: 250%;
      height: max-content;
   }
}

@media (max-width:600px) {
   ion-app {
      zoom: calc(600 / 750);
   }

   .max-content {
      width: 300%;
      height: max-content;
   }
}

@media (max-width:500px) {
   ion-app {
      zoom: calc(500 / 600);
   }

   .max-content {
      width: 350%;
      height: max-content;
   }
}

@media (max-width:420px) {
   ion-app {
      zoom: calc(420 / 500);
   }

   .max-content {
      width: 450%;
      height: max-content;
   }
}

@media (max-width:350px) {
   ion-app {
      zoom: calc(350 / 420);
   }

   .max-content {
      width: 600%;
      height: max-content;
   }
}

@media (max-width:250px) {
   ion-app {
      zoom: calc(250 / 350);
   }

   .max-content {
      width: 700%;
      height: max-content;
   }
}


.superglue {
   position: sticky;
   top: 0;
   border: 1px solid var(--ion-color-grey);
}

.cell {
   height: 150px;
   width: 250px;
   margin-bottom: 5px;
}

.cell>* {
   height: 150px;
}

.horas {
   width: 120px !important;
   max-width: 120px !important;
}

.tarea-icon {
   font-size: x-large;
}

.transparent-background {
   background: transparent;
   --ion-item-background: transparent;
}

.i-fab-move {
   transform: translate(28px, -32px);
   display: block;

   ion-fab-button {
      --background: transparent;
      --border-color: none;
      --border-style: solid;
      --border-width: 0px;
      --box-shadow: 0px 0px;
   }
}

.full-card {
   height: 100%;

   .full-button {
      height: 97%;
      padding: 0px !important;

      >ion-list {
         min-width: 100%;
         width: 100%;
         padding: 0px;

         >ion-item {
            min-width: 90%;
            height: 70px;
            width: 100%;
         }
      }
   }
}

.border-left {
   border-left: 1px inset var(--ion-color-dark);
}